body
{   
    padding: 64px;
    background: #F9FAF9;
}
input[type=range]
{
    position: relative;
    top: 170px;
    writing-mode: vertical-lr;
    height: 270px;
    direction: rtl;
    vertical-align: middle;
}
datalist 
{
    position: relative;
    top: -100px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

option 
{
    padding: 0;
}
  