:root{
    --base-color: #faf9f9;
    --text-color: black;
}

body
{   
    padding: 64px;
    background-color: var(--base-color);
    color: var(--text-color);
}
input[type=range]
{
    position: relative;
    top: 230px;
    writing-mode: vertical-lr;
    height: 300px;
    direction: rtl;
    vertical-align: middle;
}

.darkmode{
    --base-color: #2c2c2c;
    --text-color: white;
}


#dark-mode-toggle{
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dark-mode-toggle svg{
    fill: #2c2c2c;
}

#dark-mode-toggle svg {
    height: 24px;
    width: 24px;
    fill: #e8eaed; 
}

#dark-mode-toggle svg:last-child{
    display: none;
}
.darkmode #dark-mode-toggle svg:first-child{
    display: none;
}
.darkmode #dark-mode-toggle svg:last-child{
    display: block;
}