{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="content">
    <h1 class="text-center">Welcome!</h1>
    <p>
        Deskline Management focuses on improving office well-being through desk usage supervision, incorporating cutting-edge technology for monitoring and adjustments.
        By using the multitude of features available, you can become one of the many users that improve their health every day by making small but effective changes.
        Make sure to create an account to use 100% of everything we have to offer you!
    </p>
    <section>
        <h2>Why stand?</h2>
        <div class="row align-items-center">
            <div class="col-md-6">
                <p>Studies show prolonged sitting can lead to back pain, obesity, and cardiovascular diseases, while too much standing may cause fatigue and discomfort.
                    Over time, neck strain the poor posture and back pain can lead to chronic musculoskeletal problems.
                </P>
                <p>
                    Furthermore, remaining sedentary for hours reduces circulation, increasing the risk of varicose veins and deep vein thrombosis (DVT).
                    Studies also associate prolonged sitting with metabolic disorders, such as obesity and Type 2 diabetes, as well as a higher risk of cardiovascular diseases.
                    A sedentary lifestyle can even impact mental well-being, contributing to fatigue, decreased focus, and stress.
                </P> 
                <P> However, studies also show that alternating between sitting and standing during work significantly improves health and productivity.  
                    By reducing the strain on the lower back and neck, standing desks help minimize the discomfort caused by prolonged sitting.
                    
                </p>
                <p>
                    They encourage better posture, which can prevent long-term musculoskeletal issues. Increased movement throughout the day boosts blood flow, aiding concentration and reducing fatigue.
                    Standing desks have also been linked to improved energy levels and reduced risk of weight gain, as standing burns more calories than sitting.
                    
                </p>    
                <p>
                    Additionally, the flexibility to adjust positions fosters an active work environment, enhancing overall workplace morale and efficiency.
                </p>                
                
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'images/deskimage.jpeg' %}" alt="Sitting vs Standing" class="img-fluid">
            </div>
        </div>
    </section>
    <section>
        <h2 class="linak-header">About LINAK</h2>
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="{% static 'images/linak-logo.jpg' %}" alt="LINAK Logo" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>
                    LINAK is a leading innovator in ergonomic solutions, providing motorized desks and advanced systems to ensure comfort and efficiency in workplaces worldwide.
                </p>
                <p>
                    LINAK desks are ergonomic, adjustable, and designed to encourage a healthier, more active work routine, empowering users to prioritize their long-term well-being.
                </p>
            </div>
        </div>
    </section>

    <section>
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>If you have any questions or need assistance, feel free to reach out to us:</p>
                <p>
                    <strong>Email:</strong> <a href="mailto:contact@desklinemanagement.dk">contact@desklinemanagement.dk</a><br>
                    <strong>Phone:</strong> <a href="tel:+4552815237">+45 52 81 52 37</a>
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
