{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-5">
        
        <img src="https://i.imgur.com/1yFt2jG.png" alt="" style="
            position: absolute;
            top: 0px;
            left: 80px;
            width: 85%;">
        <img src="https://i.imgur.com/4WltLC6.png" id="DeskTop" alt="" style="
            position: absolute;
            top: -100px;
            left: 80px;
            width: 85%;">  
        <input type="range" id="myRange" list="markers" value="8" min="0" max="26"  oninput="range()">
        <datalist id="markers">
            <option value="0" label="120cm"></option>
            <option value="2" label="115cm"></option>
            <option value="4" label="110cm"></option>
            <option value="6" label="105cm"></option>
            <option value="8" label="100cm"></option>
            <option value="10" label="95cm" ></option>
            <option value="12" label="90cm"></option>
            <option value="14" label="85cm"></option>
            <option value="16" label="80cm"></option>
            <option value="18" label="75cm"></option>
            <option value="20" label="70cm"></option>
            <option value="22" label="65cm"></option>
            <option value="24" label="60cm"></option>
            <option value="26" label="55cm"></option>
        </datalist>
        <h1 class ="HeightLabel" id="heightLabel">120cm</h1>
    </div>
    <div class="col-6">
        <div class="container-buttons">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name1}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height1">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height1}}>Height: {{height1}}cm</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name2}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height2">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height2}}>Height: {{height2}}cm</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name3}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height3">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height3}}>Height: {{height3}}cm</button>
                        </form>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name2}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height4">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height4}}>Height: {{height4}}cm</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name5}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height5">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height5}}>Height: {{height5}}cm</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{name6}}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="set_height6">
                            <button class="btn btn-primary" type="submit" 
                            class="btn btn-primary" style="background: #1268B3; border-radius: 0%; width: 100%;" value={{height6}}>Height: {{height6}}cm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Height: </p>
            <input type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<script>
    const image = document.getElementById('DeskTop');
    let heightLabel = document.getElementById("heightLabel");
    let slider = document.getElementById('myRange');
        
    //heightLabel.innerHTML = 99;
    /*
    setInterval( function update_position()
    {
        fetch('http://127.0.0.1:50/api/v2/E9Y2LxT4g1hQZ7aD8nR3mWx5P0qK6pV7/desks/cd:fb:1a:53:fb:e6/state')
        .then(function(response) {
            return response.json();
        }).then(function(data) {
            heightLabel.innerHTML = 99;
        }).catch(function(err) {
            console.log('Fetch Error :-S', err);
        });
            // Access the 'position_mm' parameter from the response data
            //let transform = `translate(0px, ${data.position_mm}px)`;
            //image.style.transform = transform;
            //heightLabel.style.transform = transform;
            //heightLabel.innerHTML = 99 + "cm";
    },2000)
    */
</script>
{% endblock content %}