{% extends "base.html" %}
{% block content %}
<main class="content">
    <div class="welcome-container">
        <h1>Welcome to your Dashboard!</h1>
        <p>This is the main page where you can navigate to different sections like desk control, charts, modes, and profile settings.</p>
    </div>

    <div class="main-container">
        <div class="container">
            <div class="button-container">
                <button class="control-button">Sitting</button>
                <button class="control-button">Standing</button>
                <button class="control-button">Break</button>
                <button class="control-button">Lunch</button>
            </div>
        </div>
        <div class="image-container">
            <img src="./assets/mydesk.png" alt="Desk" class="desk-image">
        </div>
    </div>
    
    <div class="placeholder">This is a placeholder</div>
</main>
{% endblock content %}